/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Font Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0 auto;
}


/* Navigation Bar */
header {
    background-color: #2a2a2a;
    padding: 20px;
    position: sticky;
    top: 0;
   
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 10px;
}

.nav-links a:hover {
    background-color: #f4a261;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: black;
}

footer p{
    text-align: center;

}
.split {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  
.split.left {
    width: 27%;
    padding: 0.7cm;
    display: flex;
    flex-direction: column;
    align-items: justified;
    background-color:#008080;
  }
  
.split.right {
    width: 73%;
  padding: 0.7cm;
  }

.split.left a:hover{
    color: #cfc493;

  }

.comp{
 padding: 90px 400px 10px 650px;
}

.Chapter{
    padding-left: 200px;
    padding-right: 10px;
}

.Character{
    padding-left: 110px;
    padding-right: 10px;
}

h1{
    text-align: center;
    background-color: lightgray;
    padding: 25px;
}

.Contents{
    display: flex;
    padding: auto;
    text-align: justify;
}
